<!DOCTYPE html>
<html>
  <head>
    <title>ShareURL&&備忘録</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body>
  <div class="container">
    <div class ="outer">
      <div class="inner">
        <header>
          <%= link_to "TOPに戻る",root_path %>
          <% if current_user == nil %>
            <%= link_to "ログイン",new_user_session_path%>
          <% else %>
          <%= link_to "ログアウト",destroy_user_session_path, :method => :delete%>
          <% end %>
        </header>
      <%= yield %>
      </div>
    </div>
  </div>
      <!-- <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> -->

  </body>
</html>
