<!DOCTYPE html>
<html>
  <head>
    <title>ゼロイチで何か作りたいものがあるとき、要件を定義していって、誰かが参考URLを貼ってくれたりするサイト。ToDoにもなります</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <%= analytics_init if Rails.env.production? %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>
  <body>
  <div class="container">
    <div class ="outer">
      <div class="inner">
        <header>
          <%= link_to "TOPに戻る",root_path %>
          <% if current_user == nil %>
            <%= link_to "ログイン",new_user_session_path%>
          <% else %>
          <%= link_to "ログアウト",destroy_user_session_path, :method => :delete%>
          <% end %>
        </header>
      <%= yield %>
      <footer>
        <small>Copyright (c) gashi All Rights Reserved</small>
      </footer>
      </div>
    </div>
  </div>
  </body>
</html>
